/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main_banner {
    padding: 170px 0 220px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .main_banner {
    padding: 100px 0 160px;
  }
  .main_banner .mb_info > h1 {
    font-size: 45px;
  }
  .main_banner .mb_info > .descr {
    margin-bottom: 20px;
  }
  section {
    padding: 80px 0;
  }
  #advantages .row_adv .item_adv > .heading {
    margin: 16px 0;
  }
  #reviews {
    padding: 170px 0;
  }
  #reviews .item_rev > .quote {
    margin: 0 auto 50px;
  }
  .pf_info {
    margin-bottom: 120px;
  }
  #pre_footer .pf_info > .pf_images {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #footer .row_flex .col_footer_1, #footer .row_flex .col_footer_3 {
    width: 48%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #footer .row_flex .col_footer_2 {
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #header .inner_header .right_side_header > .btn_simple {
    display: none;
  }
  #header .inner_header .right_side_header .mnu_top {
    gap: 10px;
  }
  #header .inner_header .right_side_header .mnu_top > li.has_sub_menu::after {
    right: 5px;
  }
  .main_banner {
    padding: 50px 0 170px;
  }
  .main_banner .img_responsive {
    margin: 0 auto;
    max-width: 80%;
  }
  .main_banner .mb_info > h1 {
    font-size: 40px;
  }
  section {
    padding: 60px 0;
  }
  section.information .img_responsive {
    display: none;
  }
  section.information .right_info {
    padding: 0 10px;
    text-align: center;
  }
  section.information .right_info .notif {
    margin: 0 auto;
  }
  section.information .right_info > h3 {
    font-size: 34px;
  }
  #advantages .heading_main {
    display: inline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #advantages .heading_main h2 {
    font-size: 34px;
    margin: 15px auto;
  }
  #advantages .heading_main .description {
    font-size: 16px;
    margin-bottom: 10px;
  }
  #advantages .row_adv > div {
    width: 50%;
  }
  #advantages .row_adv > div .item_adv {
    text-align: center;
    margin: 0 auto;
    max-width: 240px;
  }
  #advantages .row_adv > div .item_adv > .heading {
    margin: 10px 0;
    font-size: 22px;
  }
  #advantages .row_adv > div .item_adv > .descr {
    font-size: 14px;
  }
  #reviews .item_rev > .quote {
    display: table-footer-group;
    height: 100px;
    font-size: 16px;
  }
  #pre_footer .pf_info h4 {
    font-size: 34px;
    text-align: center;
  }
  #footer {
    padding: 30px 0;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .hamburger {
    display: block;
  }
  #header {
    position: relative;
    padding-top: 14px;
  }
  #header .inner_header .right_side_header .mnu_top {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    padding: 10px 0;
    z-index: 11;
  }
  #header .inner_header .right_side_header .mnu_top > li {
    display: block;
  }
  #header .inner_header .right_side_header .mnu_top > li > a {
    padding: 5px 15px;
  }
  #header .inner_header .right_side_header .mnu_top > li > .sub_menu {
    display: block;
    position: relative;
    top: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    -webkit-animation: none;
            animation: none;
    padding-left: 15px;
    opacity: 1;
  }
  #header .inner_header .right_side_header .mnu_top > li.has_sub_menu::after {
    display: none;
  }
  #top_banner {
    background-color: #f5faff !important;
    background-image: none !important;
  }
  #top_banner .main_banner {
    text-align: center;
    padding: 20px 0 50px;
  }
  #top_banner .main_banner .mb_info > h1 {
    font-size: 30px;
  }
  #top_banner .main_banner .mb_info > .descr {
    font-size: 14px;
  }
  #top_banner .main_banner .mb_info > .btns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #top_banner .main_banner .mb_info > .btns > a {
    display: block;
    width: 100%;
  }
  .notif {
    margin: 0 auto;
  }
  #advantages .notif {
    font-size: 14px;
  }
  #advantages .heading_main {
    margin: 25px 0;
  }
  #advantages .heading_main > h2 {
    font-size: 25px;
  }
  #advantages .heading_main > .description {
    font-size: 14px;
    margin-bottom: 30px;
  }
  #advantages .row_adv {
    gap: 30px;
  }
  #advantages .row_adv > div {
    width: 100%;
  }
  section {
    padding: 40px 0;
  }
  section.information .right_info > h3 {
    font-size: 25px;
  }
  #pre_footer .pf_info > h4 {
    font-size: 25px;
  }
  #pre_footer .pf_info > .pf_images > .pf_images_above, #pre_footer .pf_info > .pf_images .pf_images_under {
    width: 100%;
  }
  #pre_footer .form_wrapper > form {
    width: 100%;
    padding: 16px;
    -webkit-transform: none;
            transform: none;
  }
  #pre_footer .form_wrapper > form .footer_form > .line {
    margin: 22px 0;
  }
  #reviews .nav_rev {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #reviews .nav_rev > div {
    width: 100%;
  }
  #reviews .nav_rev > div img {
    width: 100%;
    margin: 10px auto;
  }
  #reviews .item_rev > .quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
    min-width: 0;
    margin-bottom: 10px;
  }
  #footer .mnu_footer_wrapper .mnu_footer:nth-child(1) {
    margin-bottom: 14px;
  }
  #footer .mnu_footer_wrapper .mnu_footer:nth-child(1), #footer .mnu_footer_wrapper .mnu_footer:nth-child(2), #footer .mnu_footer_wrapper .mnu_footer:nth-child(3), #footer .mnu_footer_wrapper .mnu_footer:nth-child(4) {
    width: 50%;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}